### EXERCISE 1

In [6]:
import pandas as pd
import numpy as np

In [8]:
!ls -lrt

total 1792
-rwxr-xr-x@  1 luchino_prince  staff  509378 Oct  2 00:27 prob_stat_lect_1_2.pdf
-rwxr-xr-x@  1 luchino_prince  staff      86 Oct  2 00:27 README.md
-rwxr-xr-x@  1 luchino_prince  staff  166574 Oct  2 00:27 20180926_numpy_intro_2.ipynb
-rwxr-xr-x@  1 luchino_prince  staff   58550 Oct  2 00:27 20180926_numpy_intro.ipynb
-rwxr-xr-x@  1 luchino_prince  staff  110683 Oct  2 00:27 20180926_intro-to-pandas-2-Working-With-DataFrames.ipynb
-rwxr-xr-x@  1 luchino_prince  staff   53590 Oct  2 00:27 20180926_intro-to-pandas-1-Data-Structures.ipynb
drwxr-xr-x  10 luchino_prince  staff     320 Oct  3 12:19 data
drwxr-xr-x   4 luchino_prince  staff     128 Oct  3 12:19 Assignment_1

In [9]:
%cd ./Assignment_1

/Users/luchino_prince/Desktop/statistics/data_assignment/Assignment_1

In [10]:
!ls -lrt

total 0
drwxr-xr-x  7 luchino_prince  staff  224 Oct  3 12:19 data

In [11]:
%cd ./data

/Users/luchino_prince/Desktop/statistics/data_assignment/Assignment_1/data

In [13]:
%cd ./nycflights13

/Users/luchino_prince/Desktop/statistics/data_assignment/Assignment_1/data/nycflights13

In [14]:
!ls -lrt

total 70728
-rwxr-xr-x@ 1 luchino_prince  staff   2392318 Oct  2 00:27 nycflights13_weather.csv
-rwxr-xr-x@ 1 luchino_prince  staff    281437 Oct  2 00:27 nycflights13_planes.csv
-rwxr-xr-x@ 1 luchino_prince  staff  33407815 Oct  2 00:27 nycflights13_flights.csv
-rwxr-xr-x@ 1 luchino_prince  staff    116754 Oct  2 00:27 nycflights13_airports.csv
-rwxr-xr-x@ 1 luchino_prince  staff       948 Oct  2 00:27 nycflights13_airlines.csv

In [15]:
!head -n 5 nycflights13_weather.csv

# weather              package:nycflights13              R Documentation
#
# Hourly weather data
#
# Description:

In [18]:
nyc=pd.read_csv("nycflights13_weather.csv",skiprows=42)

In [19]:
nyc.head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0,2013-01-01 01:00:00
1,EWR,2013,1,1,1,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0,2013-01-01 02:00:00
2,EWR,2013,1,1,2,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0,2013-01-01 03:00:00
3,EWR,2013,1,1,3,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0,2013-01-01 04:00:00
4,EWR,2013,1,1,4,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0,2013-01-01 05:00:00

In [20]:
type(nyc)

pandas.core.frame.DataFrame

In [23]:
nyc['temp']=(nyc['temp']-32)/(1.8)

We converted the temperature from Fahrenheit into Celsius.

In [33]:
by_day=nyc.groupby('day')

In [34]:
by_day

In [39]:
type(by_day)

pandas.core.groupby.groupby.DataFrameGroupBy

In [46]:
by_day=nyc.groupby(['day','month'])
by_day

Note that no splitting occurs until it’s needed. 
Creating the GroupBy object only verifies that you’ve passed a valid mapping.

In [67]:
by_day=nyc.groupby(['month','day']).mean()

In [68]:
by_day['temp']

month  day
1      1       3.813043
       2      -1.833333
       3      -1.308333
       4       1.254167
       5       2.845833
       6       3.541667
       7       5.425000
       8       4.162500
       9       5.450000
       10      7.236111
       11      4.695833
       12      7.288889
       13      7.069444
       14     10.415278
       15      3.958333
       16      1.800000
       17      4.533333
       18     -0.286111
       19      3.233333
       20      7.684722
       21     -0.713889
       22     -4.652778
       23     -9.036111
       24     -7.723611
       25     -7.629167
       26     -6.126389
       27     -3.536111
       28     -0.436111
       29      4.380556
       30      7.598611
                ...
12     1       5.290278
       2       6.775000
       3       6.773611
       4       6.554167
       5      10.465278
       6      10.462500
       7       3.555556
       8      -0.215278
       9       1.686111
       10      1.748611
       11     -1.262500
       12     -2.879167
       13     -2.394444
       14     -2.352778
       15      1.597222
       16     -0.883333
       17     -2.640845
       18     -1.677778
       19      1.700000
       20      6.315278
       21     10.419444
       22     15.037500
       23     13.862500
       24      3.976389
       25     -3.568056
       26     -0.054167
       27      1.866667
       28      4.988889
       29      6.600000
       30      4.302778
Name: temp, Length: 364, dtype: float64

Now we look for NaN and missing values.

In [61]:
nyc['temp'].isnull().sum()

1

I test the interpolating function.

In [64]:
x=[2,3,4]
xp=[1,5]
yp=[10,50]
z=np.interp(x,xp,yp)

In [65]:
z

array([20., 30., 40.])

In [71]:
type(by_day['temp'])

pandas.core.series.Series

In [75]:
aux=nyc['temp']

In [120]:
print(aux[aux.isnull()])

Series([], Name: temp, dtype: float64)

We check how to use the interpolating function.

In [103]:
d=pd.Series([10,np.nan,30,40])

In [104]:
d

0    10.0
1     NaN
2    30.0
3    40.0
dtype: float64

In [105]:
d.interpolate('linear')

0    10.0
1    20.0
2    30.0
3    40.0
dtype: float64

We linearly interpolated in order to fill the missing data.

In [113]:
nyc['temp']=nyc['temp'].interpolate('linear')

In [115]:
nyc['temp'][5596]

23.5

In [116]:
nyc['temp'][5595]

24.0

In [117]:
nyc['temp'][5597]

23.000000000000004

In [122]:
After we checked that interpolation works well, we computed the mean of the daily temperatures.

In [126]:
by_day=nyc.groupby(['month','day'])['temp'].mean()

In [130]:
new=pd.DataFrame(by_day)

We want to create a new column with the dates on a special form.

In [134]:
date_new=['nyc['day'][i]/nyc['month'][i]/nyc['year'].[i]'  in range len(nyc['day'])]

SyntaxError: invalid syntax (<ipython-input-134-ae8967dc3c8c>, line 1)

In [138]:
type(by_day)

pandas.core.series.Series

## EXERCISE 2

In [1]:
!ls -lrt

total 7064
-rw-r--r--@  1 luchino_prince  staff    44507 Sep 26 16:57 Lezione1.ipynb
-rw-r--r--   1 luchino_prince  staff      555 Sep 27 08:59 Untitled.ipynb
drwxr-xr-x  12 luchino_prince  staff      384 Oct  1 11:50 ProbabilityAndStatistics
-rw-r--r--   1 luchino_prince  staff   125676 Oct  2 10:58 Untitled1.ipynb
-rw-r--r--   1 luchino_prince  staff       72 Oct  2 11:40 Untitled2.ipynb
-rw-r--r--   1 luchino_prince  staff   406086 Oct  2 11:41 lez_seaborn.ipynb
-rw-r--r--@  1 luchino_prince  staff  2819379 Oct  2 12:16 temp-plot.html
-rw-r--r--   1 luchino_prince  staff       72 Oct  2 12:17 Untitled3.ipynb
-rw-r--r--   1 luchino_prince  staff    21276 Oct  2 12:17 plotly.ipynb
-rw-r--r--   1 luchino_prince  staff    16040 Oct  3 11:17 Untitled4.ipynb
-rw-r--r--   1 luchino_prince  staff     2538 Oct  3 12:14 Untitled5.ipynb
drwxr-xr-x  12 luchino_prince  staff      384 Oct  3 12:20 data_assignment
-rw-r--r--   1 luchino_prince  staff    43606 Oct  3 13:36 Untitled6.ipynb
-rw-r--r--   1 luchino_prince  staff       72 Oct  3 17:17 Untitled7.ipynb
-rw-r--r--   1 luchino_prince  staff    55940 Oct  3 17:18 PCA.ipynb
-rw-r--r--   1 luchino_prince  staff     3436 Oct  3 17:43 Custer_analysis.ipynb
-rw-r--r--@  1 luchino_prince  staff    17188 Oct  4 15:27 NUMPY, Exercises_stat.ipynb
-rw-r--r--   1 luchino_prince  staff    21851 Oct  4 15:29 assesment_pandas.ipynb

In [2]:
%cd ./data_assignment

/Users/luchino_prince/Desktop/statistics/data_assignment

In [1]:
!ls -lrt

total 7072
-rw-r--r--@  1 luchino_prince  staff    44507 Sep 26 16:57 Lezione1.ipynb
-rw-r--r--   1 luchino_prince  staff      555 Sep 27 08:59 Untitled.ipynb
drwxr-xr-x  12 luchino_prince  staff      384 Oct  1 11:50 ProbabilityAndStatistics
-rw-r--r--   1 luchino_prince  staff   125676 Oct  2 10:58 Untitled1.ipynb
-rw-r--r--   1 luchino_prince  staff       72 Oct  2 11:40 Untitled2.ipynb
-rw-r--r--   1 luchino_prince  staff   406086 Oct  2 11:41 lez_seaborn.ipynb
-rw-r--r--@  1 luchino_prince  staff  2819379 Oct  2 12:16 temp-plot.html
-rw-r--r--   1 luchino_prince  staff       72 Oct  2 12:17 Untitled3.ipynb
-rw-r--r--   1 luchino_prince  staff    21276 Oct  2 12:17 plotly.ipynb
-rw-r--r--   1 luchino_prince  staff    16040 Oct  3 11:17 Untitled4.ipynb
-rw-r--r--   1 luchino_prince  staff     2538 Oct  3 12:14 Untitled5.ipynb
drwxr-xr-x  12 luchino_prince  staff      384 Oct  3 12:20 data_assignment
-rw-r--r--   1 luchino_prince  staff    43606 Oct  3 13:36 Untitled6.ipynb
-rw-r--r--   1 luchino_prince  staff       72 Oct  3 17:17 Untitled7.ipynb
-rw-r--r--   1 luchino_prince  staff    55940 Oct  3 17:18 PCA.ipynb
-rw-r--r--   1 luchino_prince  staff     3436 Oct  3 17:43 Custer_analysis.ipynb
-rw-r--r--@  1 luchino_prince  staff    17188 Oct  4 15:27 NUMPY, Exercises_stat.ipynb
-rw-r--r--   1 luchino_prince  staff    25691 Oct  4 15:33 assesment_pandas.ipynb

In [3]:
%cd ./data_assignment

/Users/luchino_prince/Desktop/statistics/data_assignment

In [4]:
!ls -lrt

total 1792
-rwxr-xr-x@  1 luchino_prince  staff  509378 Oct  2 00:27 prob_stat_lect_1_2.pdf
-rwxr-xr-x@  1 luchino_prince  staff      86 Oct  2 00:27 README.md
-rwxr-xr-x@  1 luchino_prince  staff  166574 Oct  2 00:27 20180926_numpy_intro_2.ipynb
-rwxr-xr-x@  1 luchino_prince  staff   58550 Oct  2 00:27 20180926_numpy_intro.ipynb
-rwxr-xr-x@  1 luchino_prince  staff  110683 Oct  2 00:27 20180926_intro-to-pandas-2-Working-With-DataFrames.ipynb
-rwxr-xr-x@  1 luchino_prince  staff   53590 Oct  2 00:27 20180926_intro-to-pandas-1-Data-Structures.ipynb
drwxr-xr-x  10 luchino_prince  staff     320 Oct  3 12:19 data
drwxr-xr-x   4 luchino_prince  staff     128 Oct  3 12:19 Assignment_1

In [5]:
%cd ./Assignment_1

/Users/luchino_prince/Desktop/statistics/data_assignment/Assignment_1

In [1]:
!ls -lrt

total 7072
-rw-r--r--@  1 luchino_prince  staff    44507 Sep 26 16:57 Lezione1.ipynb
-rw-r--r--   1 luchino_prince  staff      555 Sep 27 08:59 Untitled.ipynb
drwxr-xr-x  12 luchino_prince  staff      384 Oct  1 11:50 ProbabilityAndStatistics
-rw-r--r--   1 luchino_prince  staff   125676 Oct  2 10:58 Untitled1.ipynb
-rw-r--r--   1 luchino_prince  staff       72 Oct  2 11:40 Untitled2.ipynb
-rw-r--r--   1 luchino_prince  staff   406086 Oct  2 11:41 lez_seaborn.ipynb
-rw-r--r--@  1 luchino_prince  staff  2819379 Oct  2 12:16 temp-plot.html
-rw-r--r--   1 luchino_prince  staff       72 Oct  2 12:17 Untitled3.ipynb
-rw-r--r--   1 luchino_prince  staff    21276 Oct  2 12:17 plotly.ipynb
-rw-r--r--   1 luchino_prince  staff    16040 Oct  3 11:17 Untitled4.ipynb
-rw-r--r--   1 luchino_prince  staff     2538 Oct  3 12:14 Untitled5.ipynb
drwxr-xr-x  12 luchino_prince  staff      384 Oct  3 12:20 data_assignment
-rw-r--r--   1 luchino_prince  staff    43606 Oct  3 13:36 Untitled6.ipynb
-rw-r--r--   1 luchino_prince  staff       72 Oct  3 17:17 Untitled7.ipynb
-rw-r--r--   1 luchino_prince  staff    55940 Oct  3 17:18 PCA.ipynb
-rw-r--r--   1 luchino_prince  staff     3436 Oct  3 17:43 Custer_analysis.ipynb
-rw-r--r--@  1 luchino_prince  staff    17188 Oct  4 15:27 NUMPY, Exercises_stat.ipynb
-rw-r--r--   1 luchino_prince  staff    28146 Oct  4 15:36 assesment_pandas.ipynb

In [2]:
%cd ./data_assignment

/Users/luchino_prince/Desktop/statistics/data_assignment

In [3]:
%cd ./Assigment_1

[Errno 2] No such file or directory: './Assigment_1'
/Users/luchino_prince/Desktop/statistics/data_assignment

In [4]:
%cd ./Assignment

[Errno 2] No such file or directory: './Assignment'
/Users/luchino_prince/Desktop/statistics/data_assignment

In [5]:
%cd ./Assignment_1

/Users/luchino_prince/Desktop/statistics/data_assignment/Assignment_1

In [6]:
%cd ./data

/Users/luchino_prince/Desktop/statistics/data_assignment/Assignment_1/data

In [7]:
%cd ./nycflights13

/Users/luchino_prince/Desktop/statistics/data_assignment/Assignment_1/data/nycflights13

In [8]:
!head -n 5 nycflights13_flights.csv

# flights              package:nycflights13              R Documentation
#
# Flights data
#
# Description:

In [21]:
flights=pd.read_csv("nycflights13_flights.csv",skiprows=54)

In [22]:
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00

It is not possible to directly compute indexing slicing with strings.

We also have to deal with the possibility that the labels are in the wrong order.

In [44]:
if flights.loc[:,'year':'day'].shape[1]:
    selez=flights.loc[:,'year':'day']
else:
    selez=flights.loc[:,'day':'year']
print(selez)

        year  month  day
0       2013      1    1
1       2013      1    1
2       2013      1    1
3       2013      1    1
4       2013      1    1
5       2013      1    1
6       2013      1    1
7       2013      1    1
8       2013      1    1
9       2013      1    1
10      2013      1    1
11      2013      1    1
12      2013      1    1
13      2013      1    1
14      2013      1    1
15      2013      1    1
16      2013      1    1
17      2013      1    1
18      2013      1    1
19      2013      1    1
20      2013      1    1
21      2013      1    1
22      2013      1    1
23      2013      1    1
24      2013      1    1
25      2013      1    1
26      2013      1    1
27      2013      1    1
28      2013      1    1
29      2013      1    1
...      ...    ...  ...
336746  2013      9   30
336747  2013      9   30
336748  2013      9   30
336749  2013      9   30
336750  2013      9   30
336751  2013      9   30
336752  2013      9   30
336753  2013      9   30
336754  2013      9   30
336755  2013      9   30
336756  2013      9   30
336757  2013      9   30
336758  2013      9   30
336759  2013      9   30
336760  2013      9   30
336761  2013      9   30
336762  2013      9   30
336763  2013      9   30
336764  2013      9   30
336765  2013      9   30
336766  2013      9   30
336767  2013      9   30
336768  2013      9   30
336769  2013      9   30
336770  2013      9   30
336771  2013      9   30
336772  2013      9   30
336773  2013      9   30
336774  2013      9   30
336775  2013      9   30

[336776 rows x 3 columns]

In [56]:
flights.columns

Index(['year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay',
       'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight',
       'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute',
       'time_hour'],
      dtype='object')

In [60]:
flights.columns

Index(['year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay',
       'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight',
       'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute',
       'time_hour'],
      dtype='object')

In [67]:
aux=(flights.columns[:]=='year')

In [81]:
x=list(flights)

In [83]:
lx=x.index('year')

In [84]:
dx=x.index('day')

In [87]:
if lx<dx:
    x2=x[0:lx]+x[(dx+1):]
else:
    x2=x[0:dx]+x[(lx+1):]
flights[x2]

,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00
5,554.0,558,-4.0,740.0,728,12.0,UA,1696,N39463,EWR,ORD,150.0,719,5,58,2013-01-01 05:00:00
6,555.0,600,-5.0,913.0,854,19.0,B6,507,N516JB,EWR,FLL,158.0,1065,6,0,2013-01-01 06:00:00
7,557.0,600,-3.0,709.0,723,-14.0,EV,5708,N829AS,LGA,IAD,53.0,229,6,0,2013-01-01 06:00:00
8,557.0,600,-3.0,838.0,846,-8.0,B6,79,N593JB,JFK,MCO,140.0,944,6,0,2013-01-01 06:00:00
9,558.0,600,-2.0,753.0,745,8.0,AA,301,N3ALAA,LGA,ORD,138.0,733,6,0,2013-01-01 06:00:00
10,558.0,600,-2.0,849.0,851,-2.0,B6,49,N793JB,JFK,PBI,149.0,1028,6,0,2013-01-01 06:00:00
11,558.0,600,-2.0,853.0,856,-3.0,B6,71,N657JB,JFK,TPA,158.0,1005,6,0,2013-01-01 06:00:00
12,558.0,600,-2.0,924.0,917,7.0,UA,194,N29129,JFK,LAX,345.0,2475,6,0,2013-01-01 06:00:00
13,558.0,600,-2.0,923.0,937,-14.0,UA,1124,N53441,EWR,SFO,361.0,2565,6,0,2013-01-01 06:00:00
14,559.0,600,-1.0,941.0,910,31.0,AA,707,N3DUAA,LGA,DFW,257.0,1389,6,0,2013-01-01 06:00:00
15,559.0,559,0.0,702.0,706,-4.0,B6,1806,N708JB,JFK,BOS,44.0,187,5,59,2013-01-01 05:00:00
16,559.0,600,-1.0,854.0,902,-8.0,UA,1187,N76515,EWR,LAS,337.0,2227,6,0,2013-01-01 06:00:00
17,600.0,600,0.0,851.0,858,-7.0,B6,371,N595JB,LGA,FLL,152.0,1076,6,0,2013-01-01 06:00:00
18,600.0,600,0.0,837.0,825,12.0,MQ,4650,N542MQ,LGA,ATL,134.0,762,6,0,2013-01-01 06:00:00
19,601.0,600,1.0,844.0,850,-6.0,B6,343,N644JB,EWR,PBI,147.0,1023,6,0,2013-01-01 06:00:00
20,602.0,610,-8.0,812.0,820,-8.0,DL,1919,N971DL,LGA,MSP,170.0,1020,6,10,2013-01-01 06:00:00
21,602.0,605,-3.0,821.0,805,16.0,MQ,4401,N730MQ,LGA,DTW,105.0,502,6,5,2013-01-01 06:00:00
22,606.0,610,-4.0,858.0,910,-12.0,AA,1895,N633AA,EWR,MIA,152.0,1085,6,10,2013-01-01 06:00:00
23,606.0,610,-4.0,837.0,845,-8.0,DL,1743,N3739P,JFK,ATL,128.0,760,6,10,2013-01-01 06:00:00
24,607.0,607,0.0,858.0,915,-17.0,UA,1077,N53442,EWR,MIA,157.0,1085,6,7,2013-01-01 06:00:00
25,608.0,600,8.0,807.0,735,32.0,MQ,3768,N9EAMQ,EWR,ORD,139.0,719,6,0,2013-01-01 06:00:00
26,611.0,600,11.0,945.0,931,14.0,UA,303,N532UA,JFK,SFO,366.0,2586,6,0,2013-01-01 06:00:00
27,613.0,610,3.0,925.0,921,4.0,B6,135,N635JB,JFK,RSW,175.0,1074,6,10,2013-01-01 06:00:00
28,615.0,615,0.0,1039.0,1100,-21.0,B6,709,N794JB,JFK,SJU,182.0,1598,6,15,2013-01-01 06:00:00
29,615.0,615,0.0,833.0,842,-9.0,DL,575,N326NB,EWR,ATL,120.0,746,6,15,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336746,2123.0,2125,-2.0,2223.0,2247,-24.0,EV,5489,N712EV,LGA,CHO,45.0,305,21,25,2013-09-30 21:00:00
336747,2127.0,2129,-2.0,2314.0,2323,-9.0,EV,3833,N16546,EWR,CLT,72.0,529,21,29,2013-09-30 21:00:00
336748,2128.0,2130,-2.0,2328.0,2359,-31.0,B6,97,N807JB,JFK,DEN,213.0,1626,21,30,2013-09-30 21:00:00
336749,2129.0,2059,30.0,2230.0,2232,-2.0,EV,5048,N751EV,LGA,RIC,45.0,292,20,59,2013-09-30 20:00:00
336750,2131.0,2140,-9.0,2225.0,2255,-30.0,MQ,3621,N807MQ,JFK,DCA,36.0,213,21,40,2013-09-30 21:00:00
336751,2140.0,2140,0.0,10.0,40,-30.0,AA,185,N335AA,JFK,LAX,298.0,2475,21,40,2013-09-30 21:00:00
336752,2142.0,2129,13.0,2250.0,2239,11.0,EV,4509,N12957,EWR,PWM,47.0,284,21,29,2013-09-30 21:00:00
336753,2145.0,2145,0.0,115.0,140,-25.0,B6,1103,N633JB,JFK,SJU,192.0,1598,21,45,2013-09-30 21:00:00
336754,2147.0,2137,10.0,30.0,27,3.0,B6,1371,N627JB,LGA,FLL,139.0,1076,21,37,2013-09-30 21:00:00
336755,2149.0,2156,-7.0,2245.0,2308,-23.0,UA,523,N813UA,EWR,BOS,37.0,200,21,56,2013-09-30 21:00:00
336756,2150.0,2159,-9.0,2250.0,2306,-16.0,EV,3842,N10575,EWR,MHT,39.0,209,21,59,2013-09-30 21:00:00
336757,2159.0,1845,194.0,2344.0,2030,194.0,9E,3320,N906XJ,JFK,BUF,50.0,301,18,45,2013-09-30 18:00:00
336758,2203.0,2205,-2.0,2339.0,2331,8.0,EV,5311,N722EV,LGA,BGR,61.0,378,22,5,2013-09-30 22:00:00
336759,2207.0,2140,27.0,2257.0,2250,7.0,MQ,3660,N532MQ,LGA,BNA,97.0,764,21,40,2013-09-30 21:00:00
336760,2211.0,2059,72.0,2339.0,2242,57.0,EV,4672,N12145,EWR,STL,120.0,872,20,59,2013-09-30 20:00:00
336761,2231.0,2245,-14.0,2335.0,2356,-21.0,B6,108,N193JB,JFK,PWM,48.0,273,22,45,2013-09-30 22:00:00
336762,2233.0,2113,80.0,112.0,30,42.0,UA,471,N578UA,EWR,SFO,318.0,2565,21,13,2013-09-30 21:00:00
336763,2235.0,2001,154.0,59.0,2249,130.0,B6,1083,N804JB,JFK,MCO,123.0,944,20,1,2013-09-30 20:00:00
336764,2237.0,2245,-8.0,2345.0,2353,-8.0,B6,234,N318JB,JFK,BTV,43.0,266,22,45,2013-09-30 22:00:00
336765,2240.0,2245,-5.0,2334.0,2351,-17.0,B6,1816,N354JB,JFK,SYR,41.0,209,22,45,2013-09-30 22:00:00
336766,2240.0,2250,-10.0,2347.0,7,-20.0,B6,2002,N281JB,JFK,BUF,52.0,301,22,50,2013-09-30 22:00:00
336767,2241.0,2246,-5.0,2345.0,1,-16.0,B6,486,N346JB,JFK,ROC,47.0,264,22,46,2013-09-30 22:00:00
336768,2307.0,2255,12.0,2359.0,2358,1.0,B6,718,N565JB,JFK,BOS,33.0,187,22,55,2013-09-30 22:00:00
336769,2349.0,2359,-10.0,325.0,350,-25.0,B6,745,N516JB,JFK,PSE,196.0,1617,23,59,2013-09-30 23:00:00
336770,NaN,1842,NaN,NaN,2019,NaN,EV,5274,N740EV,LGA,BNA,NaN,764,18,42,2013-09-30 18:00:00
336771,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30 14:00:00
336772,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-09-30 22:00:00
336773,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30 12:00:00
336774,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30 11:00:00
336775,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30 08:00:00

## EXERCISE 3

In [1]:
!ls -lrt

total 7208
-rw-r--r--@  1 luchino_prince  staff    44507 Sep 26 16:57 Lezione1.ipynb
-rw-r--r--   1 luchino_prince  staff      555 Sep 27 08:59 Untitled.ipynb
drwxr-xr-x  12 luchino_prince  staff      384 Oct  1 11:50 ProbabilityAndStatistics
-rw-r--r--   1 luchino_prince  staff   125676 Oct  2 10:58 Untitled1.ipynb
-rw-r--r--   1 luchino_prince  staff       72 Oct  2 11:40 Untitled2.ipynb
-rw-r--r--   1 luchino_prince  staff   406086 Oct  2 11:41 lez_seaborn.ipynb
-rw-r--r--@  1 luchino_prince  staff  2819379 Oct  2 12:16 temp-plot.html
-rw-r--r--   1 luchino_prince  staff       72 Oct  2 12:17 Untitled3.ipynb
-rw-r--r--   1 luchino_prince  staff    21276 Oct  2 12:17 plotly.ipynb
-rw-r--r--   1 luchino_prince  staff    16040 Oct  3 11:17 Untitled4.ipynb
-rw-r--r--   1 luchino_prince  staff     2538 Oct  3 12:14 Untitled5.ipynb
drwxr-xr-x  12 luchino_prince  staff      384 Oct  3 12:20 data_assignment
-rw-r--r--   1 luchino_prince  staff    43606 Oct  3 13:36 Untitled6.ipynb
-rw-r--r--   1 luchino_prince  staff       72 Oct  3 17:17 Untitled7.ipynb
-rw-r--r--   1 luchino_prince  staff    55940 Oct  3 17:18 PCA.ipynb
-rw-r--r--   1 luchino_prince  staff     3436 Oct  3 17:43 Custer_analysis.ipynb
-rw-r--r--@  1 luchino_prince  staff    17188 Oct  4 15:27 NUMPY, Exercises_stat.ipynb
-rw-r--r--   1 luchino_prince  staff    95983 Oct  5 00:14 assesment_pandas.ipynb

In [2]:
%cd ./data_assignment

/Users/luchino_prince/Desktop/statistics/data_assignment

In [3]:
%cd ./Assignment_1

/Users/luchino_prince/Desktop/statistics/data_assignment/Assignment_1

In [4]:
%cd ./data

/Users/luchino_prince/Desktop/statistics/data_assignment/Assignment_1/data

In [10]:
A = pd.read_csv("some_birth_dates1.csv")

In [11]:
B = pd.read_csv("some_birth_dates2.csv")

In [12]:
C = pd.read_csv("some_birth_dates3.csv")

I have my 3 pandas DataFrames.

### A U B

In [40]:
union = pd.merge(A,B,'outer')

In [41]:
union

                   Name   BirthDate
0      Paitoon Ornwimol  26.06.1958
1          Antónia Lata  20.05.1935
2     Bertoldo Mallozzi  17.08.1972
3         Nedeljko Bukv  19.12.1921
4         Micha Kitchen  17.09.1930
5       Mefodiy Shachar  01.10.1914
6          Paul Meckler  29.09.1968
7       Katarzyna Lasko  20.10.1971
8          Åge Trelstad  07.03.1935
9   Duchanee Panomyaong  19.06.1952
10   Hushang Naigamwala  25.08.1991
11             Zhen Wei  16.11.1975
12          Jodoc Alwin  16.11.1969
13           Igor Mazał  14.05.2004
14        Noe Tae-Woong  11.07.1970

### A  U  B  U  C

In [23]:
triple_union=pd.merge(union,C,'outer')

In [1]:
triple_union

NameError: name 'triple_union' is not defined

In [26]:
intersection=pd.merge(A,B,'inner')

In [28]:
intersection2=pd.merge(A,C,'inner')

In [47]:
diff=pd.merge(A,B,how='outer',on='Name')

In [48]:
diff

                   Name BirthDate_x BirthDate_y
0      Paitoon Ornwimol  26.06.1958         NaN
1          Antónia Lata  20.05.1935         NaN
2     Bertoldo Mallozzi  17.08.1972         NaN
3         Nedeljko Bukv  19.12.1921         NaN
4         Micha Kitchen  17.09.1930  17.09.1930
5       Mefodiy Shachar  01.10.1914  01.10.1914
6          Paul Meckler  29.09.1968  29.09.1968
7       Katarzyna Lasko  20.10.1971  20.10.1971
8          Åge Trelstad  07.03.1935  07.03.1935
9   Duchanee Panomyaong  19.06.1952  19.06.1952
10   Hushang Naigamwala         NaN  25.08.1991
11             Zhen Wei         NaN  16.11.1975
12          Jodoc Alwin         NaN  16.11.1969
13           Igor Mazał         NaN  14.05.2004
14        Noe Tae-Woong         NaN  11.07.1970

In [77]:
diff=diff[ diff.BirthDate_x.isnull()==False]

In [78]:
diff

                  Name BirthDate_x BirthDate_y
0     Paitoon Ornwimol  26.06.1958         NaN
1         Antónia Lata  20.05.1935         NaN
2    Bertoldo Mallozzi  17.08.1972         NaN
3        Nedeljko Bukv  19.12.1921         NaN
4        Micha Kitchen  17.09.1930  17.09.1930
5      Mefodiy Shachar  01.10.1914  01.10.1914
6         Paul Meckler  29.09.1968  29.09.1968
7      Katarzyna Lasko  20.10.1971  20.10.1971
8         Åge Trelstad  07.03.1935  07.03.1935
9  Duchanee Panomyaong  19.06.1952  19.06.1952

In [79]:
diff=diff[ diff.BirthDate_y.isnull()==True]

In [80]:
diff

                Name BirthDate_x BirthDate_y
0   Paitoon Ornwimol  26.06.1958         NaN
1       Antónia Lata  20.05.1935         NaN
2  Bertoldo Mallozzi  17.08.1972         NaN
3      Nedeljko Bukv  19.12.1921         NaN

End of the exercise.

In [81]:
diff=pd.merge(A,B,how='outer',on='Name')

In [84]:
diff=diff[(diff.BirthDate_y.isnull()==True) & (diff.BirthDate_x.isnull()==False)]

In [85]:
diff

                Name BirthDate_x BirthDate_y
0   Paitoon Ornwimol  26.06.1958         NaN
1       Antónia Lata  20.05.1935         NaN
2  Bertoldo Mallozzi  17.08.1972         NaN
3      Nedeljko Bukv  19.12.1921         NaN

This method should be faster to compute the difference.